<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon>eco</mat-icon>
  <span>Portfolio</span>

  <span class="spacer"></span>
  
  <a mat-button aria-label="Link to contact page">
    Contact
  </a>
  
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-raised-button color="accent">Sing Up</button>
</mat-toolbar>
  