<mat-toolbar color="primary">
  <button (click)="showMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-icon>eco</mat-icon>
  <span routerLink="/home" class="logo">Portfolio</span>

  <span class="spacer"></span>

  <label>
    {{usuarioLogado}}
  </label>
  <label> {{usuarioLogado}} </label>

  <button mat-raised-button class="btn-signUp" color="accent">Sing Up</button>

  <mat-slide-toggle></mat-slide-toggle>

</mat-toolbar>


  