<mat-toolbar class="footer" color="primary">
    <span class="spacer"></span>
    <span>2023 - Marina Barbosa</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>email</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <i class="fab fa-linkedin"></i>

    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <i class="fab fa-github"></i>
    </button>
</mat-toolbar>
