@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font: 14px Arial;
}

:root {
    --azul-c: #719fee;
    --azul: #325899;
    --branco: #F9FAFB;
}

header {
	background-color: var(--azul-c);
	overflow: auto;
}

header img {
	float: left;
	margin: 15px;
}
nav {
	float: right;
}
header a {
	display: inline-block;
	text-decoration: none;
	color: var(--branco);
	margin-right: 15px;
	margin-top: 25px;
}
header a:hover {
	text-decoration: underline;
	color: red;
}

p, h1, figcaption, nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.viagens {
	width: 1200px;
	margin: 0 auto;
}
.viagens li {
	display: inline-block;
	margin-left: 28px;
	margin-top: 15px;
}

.sobre {
	overflow: auto;
	margin: 80px auto;
	width: 1200px;
}

.sobre img {
	float: left;
	margin-left: 30px;
}
.sobre div {
	float: right;
	width: 700px;
}
.sobre h1 {
	font-size: 32px;
}
.sobre p{
    margin-top: 10px;
    text-align: justify;
    line-height: 25px;
    text-indent: 20px;
}
footer{
   background-color:var(--azul);
   padding: 20px;
}
footer p{
    text-align: center;
    color: aliceblue;
}